{{ partial "header.html" . }}
{{ partial "nav.html" . }}

{{ partial "page-title.html" . }}

{{ "<!-- Company Description Section Start -->" | safeHTML }}

{{ $yr := .Params.year }}
{{ $data := print "conference" $yr}}
{{ with index .Site.Data $data }}
<section class="company-description">
    <div class="container">
        <div class="row">
            {{ partial "sponsors.html" $ }}
            <div class="col-md wow fadeInLeft" data-wow-delay=".3s">
                {{ range $index, $element := .aboutItem }}
                {{ if eq $index 2}}
                    {{ with .title }}<h2 id="{{ $element.type }}">{{ . }}</h2>{{ end }}
                    {{ with .description }}<p>{{ . | markdownify}}</p>{{ end }}
                    {{ with index $.Site.Data $data }}
                    <table class="table-responsive table-striped">
                        {{ with .sponsorshipCosts }}
                        <thead>
                            <tr>
                                <th style="padding:0 300px 0 0px;">Perk</th>
                                {{ range $index, $element := . }}
                                <th style="padding:0 25px 0 0px;">{{ .name }}<br>{{ .cost }}</th>
                                {{ end }}
                            </tr>
                        </thead>
                        {{ end }}
                        {{ range $sindex, $sponsorship := .sponsorship }}
                        <tbody>
                            <tr>
                                <th colspan="7"> {{ .type }}</th>
                            </tr>
                            {{ range $pindex, $perk := .perks }}
                            <tr>
                                <td>{{ .name }}</td>
                                {{ range $lindex, $level := .levels }}
                                {{ if eq $level.enabled true}}
                                <td><i class="icon ion-md-checkmark"></i></td>
                                {{ else }}
                                <td></td>
                                {{ end }}
                                {{ end }}
                            </tr>
                            {{ end }}
                        </tbody>
                        {{ end }}
                    </table>
                    {{ end }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ partial "footer.html" . }}