{{ partial "header.html" . }}
{{ partial "nav.html" . }}

{{ partial "page-title.html" . }}

{{ with .Site.Data.conference2019 }}
<section class="company-description">
    <div class="container">
        <div class="row">
            {{ partial "2019/sponsors.html" $ }}
            <div class="col-md wow fadeInRight" data-wow-delay=".3s">
                <div class="jumbotron">
                    <h1 class="display-4">{{ .name }}</h1>
                    <p class="lead">This year we are delighted to be offering more tracks than ever at CAPWIC.
                        There are seven tracks to which you can submit your work.
                        Please submit by the <strong>{{ .submission.deadline }} submission deadline</strong> for full consideration.
                        Read below for more information or ...</p>
                    <p>Our call for participation flyer is <a href="/capwic-call-for-participation.pdf" download>available for download here<i class="ion-ios-cloud-download"></i></a>.</p>
                    <p>We also have <a href="/capwic-call-for-submissions.pdf" download>a submission flyer<i class="ion-ios-cloud-download"></i></a> that has the detailed information below.</p>
                    <hr class="my-4">
                    <p>Unfortunately, we are unable to sponsor visas for international travel for CAPWIC.
                        <a class="float-right btn btn-primary btn-lg" rel="noopener noreferrer" target='_blank' href="{{.submission.link}}" role="button">Submit now!</a>
                    </p>
                </div>
                <div class="list-group">
                    {{ range .submission.tracks}}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ .name }}</h5>
                            </div>
                            <p class="mb-1">{{ .description }}</p>
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}


{{ partial "footer.html" . }}