{{ partial "header.html" . }}
{{ partial "nav.html" . }}

{{ partial "page-title.html" . }}
{{ $yr := .Params.year }}
{{ $data := print "conference" $yr}}
{{ with index .Site.Data $data }}
<section class="company-description">
    <div class="container">
        <div class="row">
            {{ partial "sponsors.html" $ }}
            <div class="col-md wow fadeInRight" data-wow-delay=".3s">
                <div class="jumbotron">
                    <h1 class="display-4">{{ .name }}</h1>
                    {{ .submission.lead | safeHTML}}
                </div>
                <div class="list-group" id="tracks">
                    {{ range .submission.tracks}}
                        <a href="#tracks" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ .name }}</h5>
                            </div>
                            <p class="mb-1">{{ .description }}</p>
                        </a>
                    {{ end }}
                    <br>
                </div>
                <div class="jumbotron" id="awards">
                    <h1 class="display-6">{{ .participation.title }}</h1>
                    <div class="list-group">
                        {{ range .participation.awards }}
                            <a href="#awards" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ .name | safeHTML }}</h5>
                                </div>
                                <p class="mb-1"><b>{{ .awardee | safeHTML }}</b>, {{ .school | safeHTML }}</p>
                                <p class="mb-1"><i>{{ .presentation | safeHTML }}</i></p>
                            </a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}


{{ partial "footer.html" . }}