{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<div class="capwic-body">
{{ partial "page-title.html" . }}
{{ $yr := $.Params.year }}
{{ $data := print "conference" $yr}}
{{ with index .Site.Data $data }}
<section class="company-description">
    <div class="container">
        <div class="row">
            {{ partial "sponsors.html" $ }}
            <div class="col-md wow fadeInRight" data-wow-delay=".3s">
                {{ with .schedule }}
                <div class="row">
                    <div class="col">
                        <p>The complete schedule is nearly complete, but check this sneak preview:</p>
                        <h2>Friday March 27</h2>
                        {{ .body | safeHTML }}
                        <h2>Saturday March 28</h2>
                        {{ .saturday | safeHTML }}
                        <!-- <h2>Logistics</h2>
                        <a href="/{{$yr}}/schedule/capwic-parking.jpg"  target="_blank" rel="noopener noreferrer"><img src="/{{$yr}}/schedule/capwic-parking.jpg" class="parking" alt=""></a>
                        <h3>Locations</h3>
                        <p>Friday afternoon (only) we will be located in President's Hall. This is a short walk from Madison Hotel and the several nearby parking decks.</p>
                        <p>Friday evening, and all day Saturday, we will be located in 1 physical structure that is technically considered 2 buildings:
                            <ul>
                                <li><a href="http://www.jmu.edu/directory/buildings/ISAT.shtml" target="_blank" rel="noopener noreferrer">ISAT/CS <i class="icon ion-ios-open"></i></a></li>
                                <li><a href="http://www.jmu.edu/directory/buildings/ENGEO.shtml" target="_blank" rel="noopener noreferrer">EnGeo <i class="icon ion-ios-open"></i></a></li>
                            </ul>
                        </p>
                        <h3>Parking</h3>
                        <h4>Friday afternoon</h4>
                        <ul>
                            <li><a href="https://goo.gl/maps/46dEpuuoLvn" target="_blank" rel="noopener noreferrer">Mason St. Parking Deck <i class="icon ion-ios-open"></i></a></li>
                        </ul>
                        <h4>Friday evening</h4>
                        <ul>
                            <li><a href="https://goo.gl/maps/wFV8Wmm6aGx" target="_blank" rel="noopener noreferrer">D2 Parking Lot <i class="icon ion-ios-open"></i></a></li>
                        </ul>
                        <h4>Saturday</h4>
                        <ul>
                            <li><a href="https://goo.gl/maps/wFV8Wmm6aGx" target="_blank" rel="noopener noreferrer">D2 Parking Lot <i class="icon ion-ios-open"></i></a></li>
                        </ul> -->

                    </div>
                    <!-- <div class="col-4">

                        <div class="jumbotron">
                            <h1 class="display-4">{{ .heading }}</h1>
                            <p class="lead">{{ .body | safeHTML }}</p>
                        </div>
                    </div> -->
                </div>

                <div id="program">
                    {{ range $i, $day := .days}}
                    <div class="card border-{{$day.color}}" id="{{$i}}">
                        <div class="card-header bg-{{$day.color}} text-{{$day.font}}" id="headingOne">
                            <h5 class="mb-0">
                                <a href="#{{$i}}"class="btn btn-lg btn-link text-{{$day.font}}" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    {{ $day.name }}
                                </a>
                            </h5>
                        </div>
                    
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                            <div class="card-body">
                                <table class="table-responsive table-hover table-striped">
                                    <thead>
                                        <tr class="d-flex">
                                            <th class="col-2">Time</th>
                                            <th class="col-3">Title</th>
                                            <th class="col-2">Location</th>
                                            <th class="col-5">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $eventIndex, $event := $day.events}}
                                        {{ $eventId := print $i "-" $eventIndex }}
                                        <tr id="{{ $eventId }}" class="d-flex">
                                            {{ if $event.sessions}}
                                            <td class="col-2"> {{ $event.time_start| safeHTML }} - {{ $event.time_end | safeHTML }}</td>
                                            <td class="col-3">{{ $event.name | safeHTML }}</td>
                                                <td>
                                                    <table class="table-responsive table-hover">
                                                        <tbody>
                                                            {{ range $evtItemIdx, $ev := $event.sessions }}
                                                            <tr class="d-flex">
                                                                <td class="col-4">{{ $ev.location | safeHTML }}</td>

                                                                <td class="col-8"><h7>{{ $ev.name | safeHTML }}</h7>
                                                                {{ with $ev.details }}
                                                                {{ $ev.details | safeHTML }}
                                                                {{ end }}
                                                                </td>
                                                            </tr>
                                                            {{ end }}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            {{ else }}
                                                <td class="col-2">
                                                    {{ $event.time_start| safeHTML }} - {{ $event.time_end | safeHTML }}
                                                </td>
                                                <td class="col-3">
                                                    {{ $event.name | safeHTML }}
                                                </td>
                                                <td class="col-2">
                                                    {{ $event.location | safeHTML }}
                                                </td>
                                                {{ with $event.description }}
                                                <td class="col-5">
                                                    {{ $event.description | safeHTML }}
                                                </td>
                                                {{ end }}
                                            {{ end }}
                                        </tr>
                                        {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

</div>
{{ partial "footer.html" . }}
