{{ partial "header.html" . }}
{{ partial "nav.html" . }}

{{ partial "page-title.html" . }}

{{ "<!-- Company Description Section Start -->" | safeHTML }}
<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                {{ with .Site.Data.conference2019.image }}<img src="{{ . | absURL }}" alt="" class="img-fluid conference-detail-img">{{ end }}
            </div>
            <div class="col-md-6">
                <div class="block">
                    {{ with .Site.Data.conference2019.title }}<h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h3>{{ end }}
                    {{ with .Site.Data.conference2019.description }}
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        {{ . | safeHTML }}
                    </p>
                        
                    {{ end }}
                    {{ with .Site.Data.conference2019.deadlines }}
                    <dl class="row">
                        {{ range $index, $element := . }}
                        <dt class="col-md-6 text-right">{{ .date }}</dt>
                        <dd class="col-md-6">{{ .description }}</dd>
                        {{ end }}
                    </dl>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ "<!--  Company Feature Section Start -->" | safeHTML }}
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            {{ range $index, $element := .Site.Data.conference2019.aboutItem }}
            {{ if eq $index 1}}
                <div class="col-lg-6 px-0">
            {{ else }}
                <div class="col-lg-3 px-0">
            {{ end }}
                {{ $class := add $index 1 }}
                <div class="block about-feature-{{ $class }} wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    {{ with .title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .description }}<p>{{ . }}</p>{{ end }}
                    {{ if eq .type "registration" }}
                        {{ with . }}
                            <dl class="row">
                            {{ range $rindex, $rate := $.Site.Data.conference2019.rates }}
                                <dt class="col-md-10">{{ .description }}</dt>
                                <dd class="col-md-2">{{ .cost }}</dd>
                            {{ end }}
                            </dl>
                        {{ end }}
                        <p><sup>*</sup>2 queen beds for occupants to share</p>
                    {{ else if eq .type "sponsorship" }}
                        {{ with . }}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Perk</th>
                                    <th>Diamond</th>
                                    <th>Platinum</th>
                                    <th>Gold</th>
                                    <th>Silver</th>
                                    <th>Recruiter</th>
                                    <th>Non-Profit/Academic</th>
                                </tr>
                            </thead>
                            {{ range $sindex, $sponsorship := $.Site.Data.conference2019.sponsorship }}
                            <tbody>
                                <tr><th colspan="7"> {{ .type }}</th></tr>
                                {{ range $pindex, $perk := .perks }}
                                <tr>
                                    <td>{{ .name }}</td>
                                    {{ range $lindex, $level := .levels }}
                                        {{ if eq $level.enabled true}}
                                        <td><i class="ion-checkmark"></i></td>
                                        {{ else }}
                                        <td><i class="ion-close"></i></td>
                                        {{ end }}
                                    {{ end }}
                                </tr>
                                {{ end }}
                            </tbody>
                            {{ end }}
                        </table>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!--  Company Feature Section End -->" | safeHTML }}

{{ partial "team.html" . }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}