{{ partial "header.html" . }}
{{ partial "nav.html" . }}

{{ partial "page-title.html" . }}

{{ "<!-- Company Description Section Start -->" | safeHTML }}
<section class="company-description">
    <div class="container">
        <div class="row">
            {{ partial "2019/sponsors.html" $ }}
            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        <div class="block">
                            {{ with .Site.Data.conference2019.title }}<h3 class="subtitle wow fadeInUp" data-wow-delay=".3s"
                                data-wow-duration="500ms">{{ . }}</h3>{{ end }}
                            {{ with .Site.Data.conference2019.description }}
                            <!-- Pre-Conference Welcome -->
                            <!--
                            <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                {{ . | safeHTML }}
                            </p>
                    
                            <h2>Registration is Open!</h2>
                            <p>Please <a href="https://aceware.jmu.edu/wconnect/CourseStatus.awp?course=YP19CAP" target="_blank"
                                    rel="noreferrer noopener">register now</a> to join us at CAPWIC 2019! If you have any questions or
                                concerns about registration, you can reach us
                                at <a href="mailto:registration@capwic.org" title="email registration staff">registration@capwic.org</a>.
                            </p>
                            -->

                            <!-- Post-Conference Welcome -->
                            <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                <h2>Thank You!</h2>
                                <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                    Thank you to all attendees, participants, organizers, and sponsors who helped make CAPWIC 2019 a huge success!<br>
                                    <br>
                                    CAPWIC 2020 will be held at <a href="https://cnu.edu/" target="_blank" rel="noreferrer noopener">Christopher Newport Univeristy</a> in Newport News, VA.
                                    Please check back later for more details!<br>
                                    <br>
                                    <center>Technical program awards can now be viewed under the Participation page or by clicking <a href="participation/#awards" target="_blank" rel="noreferrer noopener">here</a>.</center>
                                </p>
                            </p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="block">
                            {{ with .Site.Data.conference2019.deadlines }}
                            <dl class="row">
                                {{ range $index, $element := . }}
                                <dt class="col-md-5 text-right">{{ .date | safeHTML }}</dt>
                                <dd class="col-md">{{ .description | safeHTML }}</dd>
                                {{ end }}
                            </dl>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        {{ with .Site.Data.conference2019.speakers }}
                
                        {{ $yr := $.Site.Params.current_conf_year }}
                        {{$data := print "conference" $yr}}
                        <h2 id="speakers">Speakers</h2>
                        {{ range $index, $speaker := . }}
                        <div class="speaker card mb-3">
                            <img src="/{{$yr}}/speakers/{{ $speaker.img }}" class="card-img-top" alt="{{ $speaker.name }}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{if $speaker.link}}
                                    <a href="{{$speaker.link}}">{{ $speaker.name }}</a>
                                    {{else}}
                                    {{ $speaker.name }}
                                    {{ end }}
                                </h5>
                                <p class="card-text">
                                    {{ $speaker.bio| safeHTML | truncate 250}}
                                    {{ if gt (len $speaker.bio) 250 }}
                                    <!-- <a data-toggle="collapse" href="#{{$index}}-more-bio">Read more</a> -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#speakerModalScrollable-{{$index}}">
                                        Read more
                                    </button>
                                    {{ end }}
                                </p>
                                <!-- <p class="card-text collapse" id="{{$index}}-more-bio">{{ substr $speaker.bio 243 | safeHTML}}</p> -->
                            </div>
                        </div>
                        <div class="modal fade" id="speakerModalScrollable-{{$index}}" tabindex="-1" role="dialog"
                            aria-labelledby="speakerModalScrollableTitle-{{$index}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="speakerModalScrollableTitle-{{$index}}">{{ $speaker.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="media">
                                            <img src="/{{$yr}}/speakers/{{ $speaker.img }}" class="mr-3 speaker-modal-pic" alt="{{ $speaker.name }}">
                                            <div class="media-body">
                                                {{ $speaker.bio | safeHTML}}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="col-md-3">
                        {{ with .Site.Data.conference2019.flyers }}
                        {{ $yr := $.Site.Params.current_conf_year }}
                        {{$data := print "conference" $yr}}
                        <h3 class="text-right">Flyers</h3>
                        <ul class="text-right">
                            {{ range $index, $element := . }}
                            <li><a href="/{{$yr}}/flyers/{{ .link }}">{{ .text }} <i class="icon ion-md-cloud-download"></i></a></li>
                            {{ end }}
                        </ul>
                        {{ end }}
                        {{ with .Site.Data.conference2019.policies }}
                        <h3>Community Standards</h3>
                        {{ range $index, $element := . }}
                        <h4>{{ .name }}</h4>
                        <p>{{ .body | safeHTML }}</p>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</section>

{{ "<!--  Company Feature Section Start -->" | safeHTML }}
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            {{ range $index, $element := .Site.Data.conference2019.aboutItem }}
            {{ if ne .type "sponsorship"}}
            
            {{ $class := add $index 1 }}
            <div class="col-lg px-0 about-feature-{{ $class }}">
                <div class="block wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    {{ with .title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
                    {{ if eq .type "registration" }}
                        {{ with . }}
                            <dl class="row">
                            {{ range $rindex, $rate := $.Site.Data.conference2019.rates }}
                                <dt class="col-md-10">{{ .description }}</dt>
                                <dd class="col-md-2">{{ .cost }}</dd>
                            {{ end }}
                            </dl>
                        {{ end }}
                        <p><sup>*</sup>2 queen beds for occupants to share</p>
                    
                    {{ end }}

                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!--  Company Feature Section End -->" | safeHTML }}

{{ partial "footer.html" . }}