{{ partial "header.html" . }}
{{ partial "nav.html" . }}

{{ partial "page-title.html" . }}

{{ "<!-- Company Description Section Start -->" | safeHTML }}
<section class="company-description">
    <div class="container">
        <div class="row">
            {{ partial "2019/sponsors.html" $ }}
            <!-- <div class="col-md-2 wow fadeInLeft" data-wow-delay=".3s">
                {{ with .Site.Data.conference2019.image }}<img src="{{ . | absURL }}" alt="" class="img-fluid conference-detail-img">{{ end }}
            </div> -->
            <div class="col-md">
                <div class="block">
                    {{ with .Site.Data.conference2019.title }}<h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h3>{{ end }}
                    {{ with .Site.Data.conference2019.description }}
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        {{ . | safeHTML }}
                    </p>

                    <h2>Registration is Open!</h2>
                    <p>Please <a href="https://aceware.jmu.edu/wconnect/CourseStatus.awp?course=YP19CAP" targe="_blank" rel="noreferrer noopener">register
                            now</a> to join us at CAPWIC 2019! If you have any questions or concerns about registration, you can reach us
                        at <a href="mailto:registration@capwic.org" title="email registration staff">registration@capwic.org</a>.</p>
                        
                    {{ end }}
                </div>
            </div>
            <div class="col-md">
                <div class="block">
                    {{ with .Site.Data.conference2019.deadlines }}
                    <dl class="row">
                        {{ range $index, $element := . }}
                        <dt class="col-md-6 text-right">{{ .date }}</dt>
                        <dd class="col-md-6">{{ .description }}</dd>
                        {{ end }}
                    </dl>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ "<!--  Company Feature Section Start -->" | safeHTML }}
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            {{ range $index, $element := .Site.Data.conference2019.aboutItem }}
            {{ if ne .type "sponsorship"}}
            
            {{ $class := add $index 1 }}
            <div class="col-lg px-0 about-feature-{{ $class }}">
                <div class="block wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    {{ with .title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
                    {{ if eq .type "registration" }}
                        {{ with . }}
                            <dl class="row">
                            {{ range $rindex, $rate := $.Site.Data.conference2019.rates }}
                                <dt class="col-md-10">{{ .description }}</dt>
                                <dd class="col-md-2">{{ .cost }}</dd>
                            {{ end }}
                            </dl>
                        {{ end }}
                        <p><sup>*</sup>2 queen beds for occupants to share</p>
                    
                    {{ end }}

                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!--  Company Feature Section End -->" | safeHTML }}

{{ partial "footer.html" . }}