{{ $.Scratch.Set "year" $.Site.Params.current_conf_year }}
{{ with .Params.year }}
    {{ $.Scratch.Set "year" . }}
{{ end }}
{{ if ne ($.Scratch.Get "year") $.Site.Params.current_conf_year }}
    {{ with $.Scratch.Get "year" }}
    <div class="alert alert-danger mx-auto archived" role="alert">
        This is an archived version of the {{.}} CAPWIC Conference Page. <a class="btn btn-primary" href="/conferences/{{$.Site.Params.current_conf_year}}">Go to the CAPWIC {{$.Site.Params.current_conf_year}} page</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{end}}
{{ end }}
    <!-- Modal -->
    <div class="modal fade" id="registration-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{$data := print "conference" ($.Scratch.Get "year") }}
                {{with index .Site.Data $data }}
                
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{.registration_info.warning.header| safeHTML}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{.registration_info.warning.body | safeHTML}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <a href="{{.registration_info.url}}" target="_blank"
                                rel="noopener noreferrer" class="btn btn-primary" onclick="$('#registration-details-modal').modal('hide')">OK, proceed</a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        {{ if isset .Site.Params "logo" }}
        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ if isset .Site.Params "logo_alt" }}{{ .Site.Params.logo_alt }}{{ else }}logo{{ end }}">
        {{ else }}
        {{ .Site.Params.logo_text }}
        {{ end }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ if ne ($.Scratch.Get "year") $.Site.Params.current_conf_year}}
                <li class="nav-item"></li>
            {{ end }}
            {{$data := print "conference" ($.Scratch.Get "year") }}
            {{with index .Site.Data $data }}
                {{ range .nav }}
                    <li class="nav-item">
                        {{ if hasPrefix .url "http" }}
                            {{$confdata := print (index $.Site.Data $data) }}
                            {{if and (isset (index (index $.Site.Data $data) "registration_info") "warning") (eq .name "Registration")}}
                                <a class="nav-link" rel="noopener noreferrer" target='_blank' href="{{ .url }}" data-toggle="modal" data-target="#registration-details-modal">{{ .name }} <i class="icon ion-ios-open"></i></a>
                            {{ else}}
                                <a class="nav-link" rel="noopener noreferrer" target='_blank' href="{{ .url }}">{{ .name }} <i class="icon ion-ios-open"></i></a>
                            {{ end }}
                        {{ else }}
                        <a class="nav-link" href="{{ .url }}">{{ .name }}</a>
                        {{ end }}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <ul class="navbar-nav ml-auto d-none d-lg-flex">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    CAPWIC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/conferences">Conferences</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/contact">Contact</a>
                </div>
            </li>
    </div>
    </div>
</nav>