{{ $yr := .Params.year }}
{{ if ne $yr $.Site.Params.current_conf_year}}
    {{ with $yr }}
    <div class="alert alert-danger mx-auto archived" role="alert">
        This is an archived version of the {{.}} CAPWIC Conference Page. <a class="btn btn-primary" href="/conferences/{{$.Site.Params.current_conf_year}}">Go to the CAPWIC {{$.Site.Params.current_conf_year}} page</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{end}}
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top archived"> -->
 <!-- else  -->
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top"> -->
{{ end }}
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        {{ if isset .Site.Params "logo" }}
        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ if isset .Site.Params "logo_alt" }}{{ .Site.Params.logo_alt }}{{ else }}logo{{ end }}">
        {{ else }}
        {{ .Site.Params.logo_text }}
        {{ end }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" href="{{ .Site.BaseURL }}">{{ with .Site.Params.home }}{{ . }}{{ end }}</a>
            </li> -->
            {{ if ne $yr $.Site.Params.current_conf_year}}
                <li class="nav-item"></li>
            {{ end }}
            {{$data := print "conference" $yr}}
            {{with index .Site.Data $data }}
                {{ range .nav }}
                    <li class="nav-item">
                        <!-- {{ .name }} -->
                        {{ if hasPrefix .url "http" }}
                        <a class="nav-link" rel="noopener noreferrer" target='_blank' href="{{ .url }}">{{ .name }} <i class="icon ion-ios-open"></i></a>
                        {{ else }}
                        <a class="nav-link" href="{{ .url }}">{{ .name }}</a>
                        {{ end }}
                    </li>
                {{ end }}
            {{ end }}
            <!-- {{ range .Site.Menus.nav }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }} -->
        </ul>
        <ul class="navbar-nav ml-auto d-none d-lg-flex">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    CAPWIC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/conferences">Conferences</a>
                    <div class="dropdown-divider"></div>
                    <!-- <a class="dropdown-item" href="/about">About</a> -->
                    <a class="dropdown-item" href="/contact">Contact</a>
                    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
            </li>
    </div>
    </div>
</nav>